<mat-card class="form-card">
  <form [formGroup]="form" (ngSubmit)="onSubmit(form)">
    <h3 class="title">Create an account</h3>
    <mat-form-field>
      <input formControlName="name" matInput placeholder="First name">
    </mat-form-field>
    <mat-form-field>
      <input formControlName="surname" matInput placeholder="Surname">
    </mat-form-field>
    <mat-form-field>
      <input formControlName="username" type="email" matInput placeholder="Email" required>
    </mat-form-field>
    <mat-form-field>
      <input formControlName="password" type="password" matInput placeholder="Password" required>
    </mat-form-field>
    <mat-form-field>
      <input formControlName="passwordConfirm" type="password" matInput placeholder="Repeat password" required>
    </mat-form-field>
    <div class="form-error">
      <div *ngIf="passwordMismatch">Passwords don't match</div>
    </div>
    <button color="primary" mat-raised-button [disabled]="!formValid()">Submit</button>
  </form>
</mat-card>
