.mat-sort-header-container {
  align-items: center;
}

.container {
  flex-flow: row wrap;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -moz-flex;
  display: -webkit-flex;
  display: flex;
  margin-left: 24px;
  margin-top: 24px;
}


.table-container {
  display: flex;
  flex-direction: column;
  min-width: 640px;
  max-width: 640px;
}
